@media (max-width:1258px) {
    .header-text__name {
        font-size: 70px;
    }
}

@media (max-width:1200px) {
    .navigation {
        flex-direction: column;
        align-items: center;
    }

    .lang {
        flex-direction: row;

    }

    .lang button {
        margin-left: 2vw;
    }

}

@media (max-width:1150px) {
    .about_img {
        display: none;
    }

    .about_text {
        width: 90vw;
        flex-basis: 90vw;
    }

    .online-inf {
        width: 90vw;
        margin-left: 5vw;

    }
}

@media (max-width:900px) {
    .nav-menu {
        flex-direction: column;
    }

    .header-1,
    .header-4 {
        display: none;
    }

    .header-2,
    .header-3 {
        flex-basis: 50%;

    }

    .school-wrapper>* {
        width: 70vw;
        margin: 0;
        margin-top: 10vw;
    }

    .school-wrapper {
        align-items: center;
    }
}

@media (max-width:860px) {
    .header-text__name {
        font-size: 50px;
    }

    #contacts {
        flex-direction: column;
    }

    #contacts>* {
        margin: 0;
    }

}

@media (max-width:625px) {
    .header-text__name {
        font-size: 35px;
    }

    .header-text__school {
        font-size: 23px;
    }

    .online-inf {
        font-size: 20px;
    }

    .add-cornhol {
        font-size: 20px;
    }
}

@media (max-width:420px) {
    .header-text__name {
        font-size: 25px;
    }

    .header-text__school {
        font-size: 15px;
    }

    .contacts-address {
        font-size: 18px;
    }

    .contacts-phones {
        font-size: 21px;
    }
}